{{ define "main" }}
<div class="subpage kontakt">
  <div class="titlewrap">
      <div class="ui container">
        <h1>{{.Params.title}}</h1>
      </div>
    </div>
    <div class="ui container">
      
    </div>
  <div class="grey">
    <div class="ui container">
      <div class="ui two column stackable grid">
        <div class="column withstrongs">
            {{.Params.textlinks | safeHTML}}
        </div>
        <div class="column withstrongs">
            {{.Params.textrechts_ | safeHTML}}
        </div>
      </div>
    </div>
  </div>
  <div id="pimgs">
    <div style="background: url({{partial "imgUrl" (dict "img" .Params.bildlinks "params" "" )}}) center top no-repeat; background-size:contain"></div>
    <div style="background: url({{partial "imgUrl" (dict "img" .Params.bildrechts "params" "" )}}) center top no-repeat; background-size:contain"></div>
  </div>
</div>
{{end}}