{{ define "main" }}
<div class="subpage vita">
  <div id="topimg" style="background: url({{partial "imgUrl" (dict "img" .Params.top_picture "params" "c_fill,w_2500,h_800,g_auto" )}}) center center no-repeat; background-size:cover"></div>
    <div class="titlewrap">
      <div class="ui container">
        <h1>{{.Params.title}}</h1>
      </div>
    </div>
    <div class="ui container">
      <div id="intro">
        {{.Params.zitatblock | safeHTML}}
      </div>
    </div>
  <div class="ui container">
    <div class="ui two column stackable grid">
      <div class="column">
          {{.Params.textspalte_links | safeHTML}}
      </div>
      <div class="column">
          {{.Params.textspalte_rechts | safeHTML}}
      </div>
    </div>
  </div>
  </div>
</div>
{{end}}