<div class="subpage vita">
    <div class="titlewrap">
      <div class="ui container">
        <h1>{{.Params.vita}}</h1>
      </div>
    </div>
    <div class="ui container standard">
        <div class="content">
            <img class="timg" src="{{partial "imgUrl" (dict "img" .Params.top-picture "params" "c_scale,f_auto,w_1200" )}} "/> 
            <h3 class="hd">{{.Params.title}}</h3>
            <div class="grey">
                <div class="ui container">
                  <div id="intro">
                    {{.Params.zitatblock | safeHTML}}
                  </div>
                </div>
              </div>
        </div>
    </div>
    <div class="ui two column stackable grid">
        {{range .Params.text1}}
        <div class="column">
            {{.textspalte-links|safehtml}}
          </section>
          <section class="ct ks">
            {{.textspalte-rechts|safehtml}}
          </section>
        </div>
        {{end}}
      </div>
    </div>
</div>


