{{ define "main" }} {{$p:=.}}
<div id="home">
  <ul class="headerslider">
    {{ range $x,$img := .Params.slide }}
    <li>
      <div style="background:url({{partial "imgUrl" (dict "img" $img "params" "c_fill,q_90,g_auto,w_2000,h_1000" )}}) center top no-repeat; background-size:cover;"></div>
    </li>
    {{end}}
  </ul>
  <div class="grey">
    <div class="ui container">
      <div id="intro">
        {{.Params.text1 | safeHTML}}
      </div>
    </div>
  </div>
  <div id="reitergruppen">
    <div class="ui container">
      <h2>{{.Params.headline}}</h2>
      <div class="customaccordion">
        {{range $idx,$elem := .Params.reitergruppe}}
        <div class="accordionelem {{if eq $idx 0}}active{{else}}inactive{{end}}" style="border-color: rgb({{$elem.farben}});">
          <div class="title" style="background-color: rgb({{$elem.farben}});">
            <h3>{{$elem.reitertitel}}</h3>
          </div>
          <div class="content">
            <div class="arrowwrap">
              <div class="arrleft" style="border-top-color: rgb({{$elem.farben}});"></div>
              <div class="arrright" style="border-top-color: rgb({{$elem.farben}});"></div>
            </div>
            <p>
              {{$elem.reitertext | safeHTML}}
            </p>
          </div>
        </div>
        {{end}}
      </div>
    </div>
  </div>
  <div class="ui container">
    <div id="hinweist">
      {{.Params.hinweistext | safeHTML}}
    </div>
  </div>
</div>
{{ end }}



